body 
  +light
  color: text-color

.navbar__btn
  border: 2px solid $ambient
  color: $ambient
  background-color: #ffffff
  padding: 17px 22px
  font-size: 12px
  +bold
  text-transform: uppercase

.button
  padding: 20px 75px
  text-transform: uppercase
  border: none
  background-color: $ambient
  color: #fff
  +bold