.hero
  background: url('../img/hero_bg.jpg') no-repeat center right, linear-gradient(to left, #ffffff, rgba(#dddddd, 0.4))
  margin-top: 80px
  &__wrapper
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: center
    height: 611px
  &__title
    font-size: 30px
    margin-bottom: 40px
  &__subtitle
    margin-bottom: 40px
    font-size: 30px
    +bold