.hero
  background: url('../img/hero_bg.jpg') no-repeat center right, linear-gradient(to left, #ffffff, rgba(#dddddd, 0.4))
  padding-top: 201px 
  padding-bottom: 270px
  &__title
    font-size: 30px
  &_subtitle
    font-size: 30px
    +bold